@model IEnumerable<demologin.Models.Employee>

@{
   
    ViewBag.Title = "List of Employees";
}

<div class="row">
    <div class="panel-default">
        <div class="panel-heading" style="padding-bottom:5px;">List of Employees</div>
        <div class="panel-body">
            <table class="table table-condensed" id="employeeTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Position)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit","Home", new { id=item.Id})" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> Edit</a> |
                                <a href="@Url.Action("Details","Home", new {id=item.Id })" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-tasks" aria-hidden="true"></i> Details</a> |
                                <a onclick="Delete(@item.Id)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i> Delete</a>
                            </td>
                        </tr>

                    }
                </tbody>

            </table>
        </div>
        <div class="panel-footer">
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default btn-sm" })
            </p>
        </div>
    </div>
</div>

<link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>

       $(document).ready(function () {
           $("#employeeTable").DataTable({
               "iDisplayLength": 2,
               "columnDefs": [
                   { "orderable": false, "targets": 5 }
               ],
               "fnDrawCallback": function () {
                   if (Math.ceil((this.fnSettings().fnRecordsDisplay()) / this.fnSettings()._iDisplayLength) > 1) {

                       $('.dataTables_paginate').css("display", "block");
                       $('.dataTables_length').css("display", "block");
                       $('.dataTables_info').css("display", "block");

                   } else {
                       $('.dataTables_paginate').css("display", "none");
                       $('.dataTables_length').css("display", "none");
                       $('.dataTables_info').css("display", "none");
                   }
               }

           });


       });

       function Delete(id) {
           alertify.confirm("Delete","Are you sure do you want to delete this record?", function () {
                window.location.href = '@Url.Action("Delete","Home")/' + id;

            }, null);
       }

        


    </script>
   
}
